.row-bottom-margin { 
	margin-bottom:-2px; 
}

#adimage {
	padding-top: 15px;
}

#donate-button {
	background-color: #990000;
}

#wrapper {
	margin-left: 165px;
	margin-right: 165px;
}

#brand {
	margin-top: 30px;
}

.topthree {
	font-family: 'Sigmar One', cursive;
}

#bs-example-navbar-collapse-1 {
	background-color: #336699;
	margin-top: 10px;
	margin-bottom: 0px;
}
	#bs-example-navbar-collapse-1 ul li a {
		color: white;
	}
		#bs-example-navbar-collapse-1 ul li a:hover {
		background-color: #336699;
	}

#nav-color {
	background-color: #336699;
}

	#nav-color li a {
		color: white;
	}

.vpauth{
	list-style-type: none;
}

 .menu-item {
	font-family: 'Coustard', serif;
 }

 	.menu-item:hover {
 		background-color: #336699;
 	}
 
 .zest:hover {
 	color: black;
 }

 #subnav {
 	margin-top: 0px;
 	width: 951px;
 }

 .inverse-dropdown {
 	color: black;
 }

 .major {
 	list-style-type: none;
 	font-size: 1.3em;
 	font-weight: bolder;
 }

 #newsitems, #blogitems, #vpitems {
 	margin: 0;
 	padding: 0;
 }

 .headers {
 	font-family: 'Coustard', serif;
 }

 .nav-justified:hover {
 	background-color: #336699;
 }

 #long-ad {
 	margin-left: 288px;
 }

 #vertical-ad {
 	display: inline-block;
 }

 #top-regions {
 	margin-top: 20px;
 }

 #authors {
 	background-color: black;
 }

.visible {
 	background-color: black;
 }

 .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#amazon-button {
	list-style-type: none;
	margin-top: 10px;
}












